# LaTeX temporary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.pdf
*.synctex.gz
*.auxlock

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*~

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# IDE
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
data_evaluation/ner_evaluation.xlsx
data_evaluation/~$ner_evaluation.xlsx
data_evaluation/
main.pdf
scratch/
